@import "~antd/dist/antd.css";

$primary-color: #3152ca;

body {
  font-family: "montserrat";
}

.app {
  position: relative;
}
// Header
.header {
  color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 12vw;
  .logo {
    background-image: url(./images/logo.svg);
  }
  .ant-menu {
    background-color: transparent;
    border: none;
    color: #b2b5bd;
    font-weight: 400;
    font-size: 18px;
    .ant-menu-item {
      button {
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
    .ant-menu-item-selected {
      font-weight: 600;
      color: $primary-color;
      border-color: $primary-color;
    }
    .ant-menu-item-active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
// End of Header

// Content
.content {
  position: relative;
  padding: 0 12vw;
  margin: 75px 0;
  overflow: hidden;
  hr {
    width: 50px;
    height: 3px;
  }
  .content-hero {
    .line {
      width: 7rem;
      height: 7px;
      background-color: $primary-color;
      margin: 2rem 0;
    }
    h1 {
      position: relative;
      display: inline-block;
      font-size: 92px;
      font-weight: 700;
      color: rgb(0, 0, 0);
      overflow: hidden;
      cursor: default;
      background: linear-gradient(
        to right,
        $primary-color,
        $primary-color 50%,
        rgb(0, 0, 0) 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;
      &:hover {
        background-position: 0 100%;
      }
    }
    .content-icon {
      display: flex;
      flex-direction: row;
      font-size: 45px;

      svg {
        margin-right: 2.5rem;
        cursor: pointer;
        color: #000000;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .content-hero-right {
    font-size: 14px;
    margin-top: 1rem;
    p {
      font-size: 0.92rem;
      font-weight: 400;
      margin-bottom: 3px;
    }
    h2 {
      font-size: 2.23rem;
      font-weight: 600;
      span {
        color: $primary-color;
      }
    }
  }
  .lingkaran {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 100;
    // background-color: $primary-color;
    .lingkaran1,
    .lingkaran2,
    .lingkaran3 {
      position: absolute;
    }

    .lingkaran2,
    .lingkaran3 {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s ease-in-out, opacity 0.5s ease-in-out;
    }
    .lingkaran1 {
      top: 0;
      right: 0;
      width: 385px;
      margin-right: -180px;
      z-index: -12;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .lingkaran2 {
      top: 0;
      right: 0;
      width: 150px;
      margin-right: 250px;
      margin-top: 250px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .lingkaran3 {
      top: 0;
      right: 0;
      width: 100px;
      margin-right: 450px;
      margin-top: 230px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
// End of Content

// Card Skills
.skill-content {
  margin: 1rem 0;
  padding: 1rem 0;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .line-skills {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    margin-bottom: 2.5rem;
  }
  .cards-skill {
    display: flex;
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    .card-skills {
      // width: 360px;
      border-radius: 10px;
      .ant-card-cover {
        object-fit: cover;
        width: 75px;
        margin: 0 auto;
        padding: 2rem 0 0 0;
      }
      .ant-card-meta {
        text-align: center;
      }

      &.ant-card-hoverable {
        &:hover {
          border-color: #3152ca;
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }
  }
}
// End of Card Sklls

// Portofolio
.portofolio {
  margin: 1rem 0;
  padding: 1rem 0;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .line-skills {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    margin-bottom: 2.5rem;
  }
  .portofolio-content {
    .img-wrapper {
      width: 653px;
      border-radius: 15px;
      overflow: hidden;
      .img-cover {
        object-fit: cover;
        width: 100%;
      }
    }
    .meta-portofolio {
      h2 {
        font-size: 2rem;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 0;
      }
      p {
        font-weight: 300;
        font-size: 18px;
      }
      h3 {
        font-weight: 400;
      }
    }
    .colom-portofolio {
      margin-bottom: 2rem;
    }
  }
}
// End of Portofolio

// Experience
.experience {
  margin: 1rem 0;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;

  .line-skills {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    margin-bottom: 2.5rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .experience-content {
    // position: relative;

    .wrapper {
      position: relative;
      overflow: hidden;
      width: 260px;
      height: 330px;
      margin: 0;
      background: rgb(68, 107, 246);
      background: linear-gradient(
        135deg,
        rgba(68, 107, 246, 1) 0%,
        rgba(5, 32, 143, 1) 100%
      );

      padding: 4.5rem 2.5rem;
      border-radius: 5px;

      .circle {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #ffffff;
        transform: scale(1);
        transition: transform 0.3s linear;
        top: 0;
        left: 0;
        margin-top: -45px;
        margin-left: -45px;
      }

      .card-experience {
        cursor: default;
        position: absolute;
        z-index: 99;
        h2,
        h3,
        h4,
        h5,
        p {
          color: #ffffff;
          margin-bottom: 0;
        }

        h2 {
          font-size: 32px;
          font-weight: 600;
        }

        h3 {
          font-size: 21px;
          font-weight: 300;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          margin-top: 1.5rem;
        }

        h4 {
          font-size: 21px;
          font-weight: 600;
        }

        h5 {
          font-size: 14px;
          font-weight: 600;
        }
      }

      // transition: background-color 1s ease-in-out;
      &:hover {
        // background: #ffffff;
        .card-experience {
          h2,
          h3,
          h4,
          h5,
          p {
            color: $primary-color;
          }
        }
        border: 1px solid $primary-color;
        .circle {
          transform: scale(25);
        }
      }
    }
  }
}
// End of Experience

// Contact
.contact {
  margin-top: 1rem;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;

  .line-skills {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    margin-bottom: 2.5rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  .contact-content {
    .contact-item {
      cursor: default;
      display: flex;
      margin-bottom: 2rem;
      img {
        margin-right: 2.5rem;
      }
    }
  }
}
// End of Contact

// Footer
.footer {
  padding: 2.5rem 12vw;
  margin-bottom: 0;
  .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .head-footer {
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        color: #5d5d5d;
      }
      img {
        margin-right: 1.5rem;
      }
    }

    .content-icon-footer {
      a {
        margin: 0 2rem;
        font-size: 2rem;
        svg {
          cursor: pointer;
          color: #878787;
        }
        &:hover {
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }

  .ant-col {
    margin: 1.8rem 0;
  }
}
// End of Footer

// ==============================================================================
// ====  Responsive =============================================================
// ==============================================================================
@media screen and (max-width: 992px) {
  // Content
  .content {
    margin: 60px 0;
    .content-hero {
      h1 {
        font-size: 76px;
      }
    }
    .lingkaran {
      .lingkaran1 {
        filter: blur(10px);
        width: 350px;
        margin-top: 20px;
      }

      .lingkaran2,
      .lingkaran3 {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  // End of Content
}

@media screen and (max-width: 660px) {
  // Header
  .header {
    justify-content: center;
    .ant-menu {
      display: none;
    }
  }
  // End Of Header

  // Content
  .content {
    margin: 30px 0;
    justify-content: center;
    .content-hero {
      h1 {
        font-size: 73px;
      }
      .content-icon {
        font-size: 2.32rem;
      }
    }
    .content-hero-right {
      margin-top: 2rem;
      h2 {
        font-size: 2rem;
      }
    }

    .lingkaran {
      .lingkaran1 {
        filter: blur(10px);
        width: 380px;
      }
      .lingkaran2,
      .lingkaran3 {
        visibility: hidden;
      }
    }
  }
  // End Of Content

  // Card Skills
  .skill-content {
    .card-skills {
      margin-bottom: 1.5rem;
    }
  }
  // End of Card Skills

  // Experience
  .experience-content {
    .ant-col {
      margin-bottom: 1.9rem;
      .wrapper {
        width: 310px;
      }
    }
  }
  // End of Experience
}
