@import "~antd/dist/antd.css";

$primary-color: #3152ca;

body {
  font-family: "montserrat";
}

// Header
.header {
  color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 12vw;
  .logo {
    background-image: url(./images/logo.svg);
  }
  .ant-menu {
    background-color: transparent;
    border: none;
    color: #b2b5bd;
    font-weight: 400;
    font-size: 18px;
    .ant-menu-item-selected {
      font-weight: 600;
      color: $primary-color;
      border-color: $primary-color;
    }
    .ant-menu-item-active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
// End of Header

// Content
.content {
  position: relative;
  padding: 0 12vw;
  margin: 75px 0;
  overflow: hidden;
  hr {
    width: 50px;
    height: 3px;
  }
  .content-hero {
    .line {
      width: 7rem;
      height: 7px;
      background-color: $primary-color;
      margin: 2rem 0;
    }
    h1 {
      font-size: 92px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 0;
    }
    .content-icon {
      display: flex;
      flex-direction: row;
      font-size: 45px;

      svg {
        margin-right: 2.5rem;
        cursor: pointer;
        color: #000000;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .content-hero-right {
    font-size: 14px;
    margin-top: 1rem;
    p {
      font-size: 0.92rem;
      font-weight: 400;
      margin-bottom: 3px;
    }
    h2 {
      font-size: 2.23rem;
      font-weight: 600;
      span {
        color: $primary-color;
      }
    }
  }
  .lingkaran {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 100;
    // background-color: $primary-color;
    .lingkaran1,
    .lingkaran2,
    .lingkaran3 {
      position: absolute;
    }

    .lingkaran2,
    .lingkaran3 {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s ease-in-out, opacity 0.5s ease-in-out;
    }
    .lingkaran1 {
      top: 0;
      right: 0;
      width: 385px;
      margin-right: -180px;
      z-index: -12;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .lingkaran2 {
      top: 0;
      right: 0;
      width: 150px;
      margin-right: 250px;
      margin-top: 250px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .lingkaran3 {
      top: 0;
      right: 0;
      width: 100px;
      margin-right: 450px;
      margin-top: 230px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
// End of Content

// Card Skills
.skill-content {
  margin: 1rem 0;
  padding: 1rem 0;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .line-skills {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    margin-bottom: 2.5rem;
  }
  .cards-skill {
    display: flex;
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    .card-skills {
      // width: 360px;
      border-radius: 10px;
      .ant-card-cover {
        object-fit: cover;
        width: 75px;
        margin: 0 auto;
        padding: 2rem 0 0 0;
      }
      .ant-card-meta {
        text-align: center;
      }

      &.ant-card-hoverable {
        &:hover {
          border-color: #3152ca;
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }
  }
}
// End of Card Sklls

// ==============================================================================
// ====  Responsive ============================================================-
// ==============================================================================
@media screen and (max-width: 992px) {
  // Content
  .content {
    margin: 60px 0;
    .content-hero {
      h1 {
        font-size: 76px;
      }
    }
    .lingkaran {
      .lingkaran1 {
        filter: blur(10px);
        width: 350px;
        margin-top: 20px;
      }

      .lingkaran2,
      .lingkaran3 {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  // End of Content
}

@media screen and (max-width: 660px) {
  // Header
  .header {
    justify-content: center;
    .ant-menu {
      display: none;
    }
  }
  // End Of Header

  // Content
  .content {
    margin: 30px 0;
    justify-content: center;
    .content-hero {
      h1 {
        font-size: 73px;
      }
      .content-icon {
        font-size: 2.32rem;
      }
    }
    .content-hero-right {
      margin-top: 2rem;
      h2 {
        font-size: 2rem;
      }
    }

    .lingkaran {
      .lingkaran1 {
        filter: blur(10px);
        width: 380px;
      }
      .lingkaran2,
      .lingkaran3 {
        visibility: hidden;
      }
    }
  }
  // End Of Content
}
